<div class="tw-flex tw-items-center tw-gap-3">

  <div #captchaContainer class="cf-turnstile" style="margin-top: 5px;"></div>

  <button
    type="button"
    (click)="refreshCaptcha()"
    class="tw-group tw-flex tw-items-center tw-justify-center tw-w-[42px] tw-h-[42px]
           tw-mt-[5px] tw-bg-white tw-border tw-border-[#e0e0e0] tw-rounded-xl
           tw-shadow-sm hover:tw-border-blue-500 hover:tw-bg-blue-50
           tw-transition-all active:tw-scale-90"
  >
    <span
      nz-icon
      nzType="reload"
      class="tw-text-[#64748b] group-hover:tw-text-blue-600 tw-text-xl tw-flex tw-items-center tw-justify-center"
    ></span>
  </button>

</div>
